header {
    background-image: url('../IMAGES/bike.jpeg') !important;
    height: 700px;
}
    h1 {
        text-align: center;
    }
        .intro {
            margin-top: 350px;
            color: white;

        }
            #about1 {
                width: 60%;
                margin-left: 20%;
                font-size: 15px;
            }