header {
    background-image: url('../IMAGES/about1.jpg') !important;
    height: 80vmin;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header h2 {
    text-align: center;
    font-size: 7vmin;
}
.intro {
    margin-top: 25vmin;
    color: white;

}
#about1 {
    font-size: 3vmin;
    padding-bottom: 5%;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
footer {
    clear: left !important;
    bottom: 0;
}

#container2 {
    background-color: white;
    height: 100%;
}
#container2 p {
    font-family: 'Open Sans', sans-serif !important;
    margin-top: 5%;
    font-size: 4vmin;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#container3 {
    background-image: url('../IMAGES/desk.jpg') !important;
    height: 50%;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 5%;
}

#container3 ul {
    list-style: none;
}
#container3 p:first-child {
    text-align: center;
    font-size: 5vmin;
    color: white;
}
.main p:first-child {
    color: #0083B3 !important;
    font-size: 4vmin !important;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    padding-top: 5%;
}
#container3 p:nth-child(2) {
    color: white;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 3vmin;
    font-family: 'Open Sans', sans-serif !important;
}
#social {
    clear: left;
    margin-top: 15%;
    text-align: center;
    color: #0083B3;
    font-size: 3vmin;
}
#shipping {
    text-align: center;
    color: white;
    font-size: 2.5vmin;
    margin-top: 5%;
}




.main {
    width: 100vmin;
    height:50vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.thumbnails {
    margin-left: 17%;
    display: inline-block;
    margin-top: 3%;
    width: 90%;
}
.thumbnails a img {
    display: inline-block;
    width:10vmin;
    height:10vmin;
    margin-left: 10%;

}
.main .big {
    display:none;
}
.main .big.show {
    display:block;
}
.main .big:nth-child(1) {

}
.main .big:nth-child(2) {

}
.main .big:nth-child(3) {

}
.main .big:nth-child(4) {
}

@media ( max-width:770px ) {
    .thumbnails {
        margin-left: 5% !important;
    }
}