header {
    background-image: url('../IMAGES/bike.jpeg') !important;
    height: 100%;
}
    header h2 {
        text-align: center;
        font-size: 3vh;
    }
        .intro {
            margin-top: 35%;
            color: white;

        }
            #about1 {
                text-align: center;
                font-size: 2vh;
                padding-bottom: 200px;
                margin-top: 1%;
                margin-left: 15%;
                margin-right: 15%;
            }
                footer {
                    clear: left !important;
                    bottom: 0;
                }