/*
Code Author: Mark-Anthony Karam
Host: mark-anthony.ca
*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #00729c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #00729c;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #00729c;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #00729c;
}

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Muli:300);

h1
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75em !important;
    text-transform: none !important;
    color: #0083B3 !important;
    font-weight: 100 !important;
    text-align: center;
}

#here-for-you {
    color: #0083B3;
    text-align: center;
}


/* Centres the page (this could be container)*/
.body {
    display:block;
    margin:0 auto;
    width:576px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
    height: 100%;
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label
{
    display:block;
    letter-spacing:2px;
}

/* Centres the form within the page */
form
{
    margin:0 auto;
    width:439px;
}

/* Styles the text boxes */
input, textarea {
    width:439px;
    height:60px;
    background-color:white;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

/* Styles the text area boxes (message field) */
textarea
{
    height:213px;
    background-color: white;
}


/* Styles the submit button */
#submit {
    width:439px;
    height:48px;
    text-align: center;
    border:none;
    margin-top:20px;
    cursor:pointer;
    background-color: #0092C8;
    color: #fff;
}


