.navbar {
    background-color: #0083B3 !important;
}
#help1 {
    height: 500px;
    margin-top: 15vh;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
    #help1 ul li {
        list-style: none;
        color: #00A3df;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3vmax;
        padding-top: 10px;
        width: 90%;

    }
        #help1 ul {
            padding-left: 0 !important;

        }
            #help1 p {
                font-size: 4vmin;
                font-weight: bold;
                font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
                margin-left: 10%;

            }
.name {
    font-size: 3vmin;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

#one {
    clear: left;
    float: left;
    margin-left: 10%;
    width: 30%;
}

#two {
    float: left;
    width: 30%;
}

#three {
    float: left;
    width: 30%;
}

#app-phone {
    height: 60vmin;
    float: right;
    margin-top: 5%;

}

#app-image {
    height: 60vmin;
    float: right;
}

#app-phone2 {
    height: 60vmin;
    float: right;
    margin-bottom: 5%;
    margin-right: 5%;
}

#links-help {
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 5%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
    #links-help a {
        color: #00A3df;
    }

.inline {
    float: left;
    padding: 5px;
}