@font-face { font-family: brandongrotesque; src: url('../fonts/brandongrotesque-bold-webfont.ttf'); }
.font2 {
    font-family: brandongrotesque, sans-serif;
}
.bold {
    font-weight: bold;
}
.white {
    color: white;
}
span {
    font-size: 15px;
}
.font1 {
    font-family: 'Open Sans', sans-serif !important;
}
#download-button {
    border: 1px solid white;
    border-radius: .3em;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 4.5%;
    padding: 11px 20px 9px;
}
    #download-button2 {
        border: 1px solid white;
        border-radius: .3em;
        width: 17vmin !important;
        padding-right: 5px;
    }
        #apple {
            width: 25vmin;
            margin-top: 2%;
        }
@media (max-width:770px) {
    header {
        margin-top: 50px;
}
    #name {
        margin-top: 20px !important;
    }
    #logo {
        margin-left: 25px !important;
    }
}
nav ul li a {
    font-family: 'Open Sans', sans-serif !important;
}
#logo {
    height: 5vh;
    margin-left: 50px;
}
        .container {
            width: 100% !important;
            padding-left: 4%;
            padding-right: 4%;
        }
            #name {
                margin-top: 12px;
            }
#question {
    margin-top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
            #claim {
                color: #0083B3;
                height: 50vmin;
                margin-top: 5%;
            }
                #statement {
                    font-size: 6.5vmin;
                    text-align: center;
                }
                    #statement2 {
                        font-size: 3vmin;
                        text-align: center;
                    }
                        #claim2 {
                            font-size: 4vmin;
                            color: #0083B3;
                            margin-left: 5%;
                            margin-top: 5%;
                            float: left;
                            clear: left;
                            width: 30%;
                        }
                            #claim3 {
                                color: #0083B3;
                                font-size: 3vmin;
                                width: 30%;
                                margin-left: 5%;
                                float: left;
                                clear: left;
                            }
                                #stamp {
                                    margin-left: 80%;
                                    height: 80px;
                                    margin-top: 10px;
                                }
                                    #claim4 {
                                        background-color: #4392FF;
                                    }
                                        .top-bottom {
                                            width: 100%;
                                            margin-left: 0;
                                        }
                                            #circles {
                                                width: 80vw;
                                                padding-bottom: 10px;
                                                border-color: #0083B3;
                                                margin-bottom: 5%;
                                                margin-top: 5%;
                                                display: block;
                                                margin-left: auto;
                                                margin-right: auto;
                                            }
                                                #phone {
                                                    float: right;
                                                    width: 60vw;
                                                    height: 80%;
                                                }
@media (max-width:770px) {
    #phone {
        margin-top: 5%;
    }
    #claim2 {
        width: 35%;
    }
    #claim3 {
        width: 35%;
    }
    .titles {
        padding-left: 13% !important;
        padding-right: 5% !important;
    }
    #declaration1 {
        width: 30% !important;
        margin-left: 8% !important;
    }
    #circles {
        margin-top: 5% !important;
        margin-bottom: 2% !important;
    }
    #third {
        margin-left: 5% !important;
    }
}
            .titles {
                float: left;
                padding-left: 18%;
                padding-right: 3%;
                font-size: 3vmin;
            }
                                                    #declaration1 {
                                                        width: 22%;
                                                        float: left;
                                                        color: #0083B3;
                                                        font-size: 3vmin;
                                                        margin-right: 4%;
                                                        margin-left: 13%;
                                                        clear: left;

}
                                                        #declaration2 {
                                                            width: 23%;
                                                            float: left;
                                                            color: #0083B3;
                                                            font-size: 3vmin;
                                                            margin-right: 7%;
                                                        
}
                                                            #declaration3 {
                                                                float: left;
                                                                width: 25%;
                                                                color: #0083B3;
                                                                font-size: 3vmin;
                                                                margin-bottom: 8%;

}
                                                                #know-price {
                                                                    padding-top: 5%;
                                                                    background-color: #E5F5FE;
                                                                    clear: both;
                                                                    height: 90vmin;
                                                                }
#page1 {
    height: 80vmin;
    padding-top: 10px;
    clear: both;
    background-image: url('../IMAGES/iphone22.png');
    background-size: 100% 100%;
}
            #selection {
                padding-left: 5%;
                margin-top: 5%;
                color: #00A3df;
                font-size: 5vmin;
            }
                #choices ul li{
                    border: 1px solid black;
                    display: inline-block;
                    padding: 30px;
                    border-radius: 20px;
                    margin-left: 200px;
                    margin-top: 20px;
                }
                    #rating {
                        font-size: 4vmin;
                        float: left;
                        padding-left: 5%;
                        clear: left;
                        color: #34b5e5;
                        margin-top: 3%;

                    }
                        #info4 {
                            float: right;
                            width: 50%;
                            padding-left: 10%;
                            margin-top: 13%;
                            color: white;
                            margin-bottom: 5%;
                            font-size: 2.6vmin;
                            padding-right: 15%;
                        }

                                    #choices {
                                        background-color: #F5EAE6;
                                    }
                                        #choices ul {
                                            margin-bottom: 0;
                                        }
                                            #phone1 {
                                                width: 35vmin;
                                                height: 75vmin;
                                                float: right;
                                                margin-top: 2%;
                                                margin-right: 10%;
                                                margin-bottom: 5%;
                                            }
                                                #rating-wrapper {
                                                    background-color: white;
                                                }
                                                    #pattern {
                                                        float: left;
                                                        padding-left: 5%;
                                                        width: 51vw;
                                                        margin-top: 2%;
                                                        height: 40vmin;
                                                        margin-bottom: 3%;
                                                    }
                                                        #messenger-bar {
                                                            width: 100%;
                                                            padding-left: 3%;
                                                        }
    #trust {
        text-align: center;
        font-size: 40px;
        margin-bottom: 100px;
    }
        #verify {
            width:20%;
            margin-left: 50%;
            padding-top: 30px;
        }
            #profile {
                margin-left: 50%;
                margin-top: 40px;
            }
                    #messaging1 {
                        width: 20%;
                        margin-left: 50%;
                        margin-top: 70px;
                    }
                        #secure {
                            clear: both;
                            text-align: right;
                            margin-right: 200px;
                            font-size: 30px;
                            margin-top: 400px;

                        }
                            #secure2 {
                                text-align: right;
                                margin-left: 1000px;
                                margin-right: 200px;
                                margin-top: 30px;
                                margin-bottom: 200px;
                            }
                                #disclaimer {
                                    text-align: center;
                                }
                                    #connect {
                                        text-align: center;
                                        width: 50%;
                                        margin-left: 380px;
                                    }
                                        #questions {
                                            text-align: center;
                                            padding-bottom: 10px;
                                        }
                                            #help {
                                                text-align: center;
                                            }
                                                #img1 {
                                                    height: 140px;
                                                    width: 170px;
                                                    margin-left: 250px;
                                                    float: left;
                                                    margin-right: 150px;
                                                }
                                                    #img2 {
                                                        height: 140px;
                                                        width: 170px;
                                                        margin-left: 250px;
                                                        float: left;
                                                    }
                                                        #img3 {
                                                            height: 140px;
                                                            width: 170px;
                                                            margin-left: 250px;
                                                            float: left;
                                                            clear: left;
                                                        }
footer {
    background-color: #00A3DF !important;
    width: 100% !important;
    padding-top: 1%;
    font-family: 'Open Sans', sans-serif;
    padding-right: 1.4%;
}
@media (min-width:770px) {
    footer {
        height: 65px;
    }
}
@media (max-width:770px) {
    #company ul li {
        margin-top: 1.5%;
        font-size: 2.5vmin !important;
    }
    #download-button2 {
        padding-left: 10px;
        padding-right: 10px;
        width: 20vmin !important;
    }
}
            .footer {
                list-style: none;
                padding-left: 0 !important;
            }

                    footer a:visited {
                        color: white;
                    }
                        footer a:link {
                            color: white;
                            text-decoration: none;
                        }
                                #company ul li {
                                    font-size: 2vmin;
                                    float: left;
                                    padding-left: 1%;
                                    padding-top: 1px;
                                }
                                    #company:first-child {
                                        margin-left: 4%;
                                    }
                                                #socials {
                                                    float: right;
                                                    margin-right: 1.9%;
                                                }






