.bold {
    font-weight: bold;
}
span {
    font-size: 15px;
}
#download-button {
    border: 1px solid black;
    border-radius: 10px;
}
#question {
    margin-top: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
    #question1 {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #4392FF;
    }
        #info2 {
            font-size: 25px;
            text-align: center;
            color: #4392FF;
            padding-bottom: 100px;
        }
            #claim {
                text-align: center;
                padding-top: 100px;


                /* IE10 Consumer Preview */
                background-image: -ms-radial-gradient(center, ellipse farthest-corner, #4392FF 0%, #EFEFEF 100%);

                /* Mozilla Firefox */
                background-image: -moz-radial-gradient(center, ellipse farthest-corner, #4392FF 0%, #EFEFEF 100%);

                /* Opera */
                background-image: -o-radial-gradient(center, ellipse farthest-corner, #4392FF 0%, #EFEFEF 100%);

                /* Webkit (Safari/Chrome 10) */
                background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #4392FF), color-stop(1, #EFEFEF));

                /* Webkit (Chrome 11+) */
                background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #4392FF 0%, #EFEFEF 100%);

                /* W3C Markup, IE10 Release Preview */
                background-image: radial-gradient(ellipse farthest-corner at center, #4392FF 0%, #EFEFEF 100%);
                color: white;
                height: 1300px;
                min-width: 1200px;
            }
                #statement {
                    font-size: 40px;
                }
                    #statement2 {
                        font-size: 20px;
                    }
                        #claim2 {
                            margin-top: 30px;
                            font-size: 40px;
                            margin-bottom: 30px;
                            text-align: center;
                            color: white;
                        }
                            #claim3 {
                                text-align: center;
                                padding-left: 300px;
                                padding-right: 300px;
                                color: #4392FF;
                            }
                                #stamp {
                                    margin-left: 80%;
                                    height: 80px;
                                    margin-top: 10px;
                                }
                                    #claim4 {
                                        background-color: #4392FF;
                                    }
                                        .top-bottom {
                                            width: 100%;
                                            margin-left: 0;
                                        }
                                            #circles {
                                                height: 20%;
                                                min-width: 80%;
                                                margin-top: 20px;
                                                margin-bottom: 30px;
                                            }
                                                #phone {
                                                    height: 40%;
                                                    margin-top: 10px;
                                                    margin-right: 12%;
                                                    margin-left: 10%;


                                                }
                                                    #declaration1 {
                                                        width: 15%;
                                                        min-width: 15%;
                                                        float: left;
                                                        margin-left: 10%;
                                                        display: inline-block;
                                                    }
                                                        #declaration2 {
                                                            width: 10%;
                                                            float: left;
                                                            display: inline-block;
                                                            margin-left: 20%;
                                                        }
                                                            #declaration3 {
                                                                width: 15%;
                                                                display: inline-block;
                                                                margin-left: 100px;
                                                            }
#page1 {
    height: 1300px;
    width: 100%;
    min-width: 1200px;
    background-image: url('../IMAGES/envelope.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: none;
}
    #choose {
        font-size: 35px;
        text-align: center;
        color: #4392FF;
    }
        #info3 {
            width: 20%;
            text-align: center;
            margin-left: 25%;
            width: 50%;
            color: #4392FF;
        }
            #selection {
                padding-left: 100px;
                margin-top: 120px;
                font-size: 30px;
                background-image: url('../IMAGES/stamp1.png');
                background-size: 100%;
                padding-top: 30px;
            }
                #choices ul li{
                    border: 1px solid black;
                    display: inline-block;
                    padding: 30px;
                    border-radius: 20px;
                    margin-left: 200px;
                    margin-top: 20px;
                }
                    #rating {
                        font-size: 45px;
                        float: left;
                        padding-left: 150px;
                        clear: left;

                    }
                        #info4 {
                            float: left;
                            width: 55%;
                            clear: left;
                            padding-left: 150px;
                            max-height: 100px;
                            margin-top: 20px;
                        }
                                #poststamp {
                                    width: 25%;
                                    margin-left: 60%;
                                    margin-top: 50px;
                                    margin-bottom: 30px;

                                }
                                    #choices {
                                        background-color: #F5EAE6;
                                    }
                                        #choices ul {
                                            margin-bottom: 0;
                                        }
                                            #phone1 {
                                                height: 550px;
                                                margin-left: 200px;
                                            }
                                                #rating-wrapper {
                                                    background-color: #F5EAE6;
                                                    position: relative;
                                                    z-index: -1;
                                                    min-width: 1200px;
                                                    height: 787px;
                                                }
                                                    #pattern {
                                                        height: 300px;
                                                        float: left;
                                                        clear: right;
                                                        padding: 40px;
                                                        margin-left: 100px;
                                                        width: 700px;

                                                    }

#page2 {
    height: 1250px;
    border-bottom: 1px solid black;
    padding-top: 100px;
    background-image: url('../IMAGES/people.png');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
    background-size: 100% 100%;
}
    #trust {
        text-align: center;
        font-size: 40px;
        margin-bottom: 200px;
        color: black;
    }
        #verify {
            width:20%;
            margin-left: 100px;
            margin-right: 120px;
        }
            #getoknow {
                width: 20%;
                margin-right: 120px;
            }
                    #messaging1 {
                        width: 20%;
                    }
                        #secure {
                            clear: both;
                            text-align: right;
                            margin-right: 200px;
                            font-size: 30px;
                            margin-top: 400px;

                        }
                            #secure2 {
                                text-align: right;
                                margin-left: 1000px;
                                margin-right: 200px;
                                margin-top: 30px;
                                margin-bottom: 200px;
                            }
                                #disclaimer {
                                    text-align: center;
                                }
                                    #connect {
                                        text-align: center;
                                        width: 50%;
                                        margin-left: 380px;
                                    }
                                        #questions {
                                            text-align: center;
                                            padding-bottom: 10px;
                                        }
                                            #help {
                                                text-align: center;
                                            }
footer {
    background-color: #4392FF;
    height: 250px;
}
#company {
    float: left;
    list-style-type: none;
    margin-left: 150px;
    margin-right: 250px;
}                                            
    #discover {
        float: left;
        margin-right: 250px;
    }
        #policies {
            display: inline-block;
        }
            .footer {
                list-style: none;
            }
                h4 {
                    margin-left: 40px;

                }
                    footer a:visited {
                        color: white;
                    }
                        footer a:link {
                            color: white;
                            text-decoration: none;
                        }
                            footer h4 {
                                color: black;
                            }




