.design {
    width: 100%;
}
.postmob-blue {
    color: #0083B3;
}
.postmob-lightblue {
    color: #4ebee8;
    font-size: 2vmin;
}
.font {
    font-family: 'Open Sans', sans-serif !important;
}
header {
    background-image: url('../IMAGES/background1.jpg') !important;
    height: 100vmin;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    #introduction {
        font-size: 3.5vw;
        padding-top: 83vmin;
        text-align: center;
        color: white !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-left: 17%;
    }
#choices {
    background-color: white;
    margin-left: 0%;
}
    #container1 {
        float: left;
        width: 25%;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-right: 2%;
        text-align: center;
    }
        #container2 {
            float: left;
            width: 25%;
            margin-top: 3%;
            text-align: center;
            margin-left: 5%;
        }
            #container3 {
                width: 25%;
                float: left;
                margin-left: 5%;
                margin-top: 3%;
                text-align: center;
            }
#handling {
    height: 100%;
}
    #handling h2 {
        font-size: 2.5vmax;
        text-align: center;
        margin-top: 3%;
    }
                #phone1 {
                    margin-left: 12%;
                    float: left;
                    margin-bottom: 5%;
                    margin-top: 3%;
                    display: block;
                    clear: left;
                }
                    #right-text2 {
                        margin-left: 10%;
                        font-size: 3.5vmin;
                        margin-top: 2%;
                    }
                        #right-text1 {
                            font-size: 3.5vw;
                            margin-top: 7%;
                        }



#protection {
    height: 100%;
}
    #stamp-logo {
        height: 12vmax;
        float: left;
        margin-left: 7%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
        #background-image {
            background-image: url('../IMAGES/background2.jpg');
            background-size: 100% 100%;
            height: 90vmin;
        }
            #protection p {
                margin-top: 5%;
                float: left;
                margin-left: 6%;
                font-size: 4.5vmin;
                width: 60%;
                text-align: center;
            }
    #backgroundcheck h1 {
        padding-left: 5%;
        font-size: 5vmin;
    }
        #backgroundcheck p {
            padding-left: 5%;
            padding-right: 10%;
            margin-top: 1%;
            font-size: 3vmin;
        }
            #spyglass {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                width: 30vmin;

            }
                #stars {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 30vmin;
                }
                    #backgroundcheck ul {
                        padding-left: 10%;
                        font-size: 3vmin;
                    }


#twentyfourseven {
    background-image: url('../IMAGES/background3.jpg');
    background-size: 100% 100%;
    height: 100vmin;
}
    #twentyfourseven p {
        margin-bottom: 0;
        padding-left: 60%;
        font-size: 3vmin;
        margin-top: 3%;
        width: 95%;
    }
        #twentyfourseven h1 {
            padding-top: 15%;
            padding-left: 60%;
            font-size: 5vmin;
        }
        
.images {
    height: 20vmin;
    width: 20vmin;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.person {
    margin-top: 30px;
}

.person1 {
    margin-top: 14px;
}

    .person {
        margin-top: 10px;
    }
    .person1 {
        margin-top: 5px;
    }
    .margin-top {
        margin-top: 10px;
    }
    .margin-top2 {
        margin-top: 15px;
    }
