.design {
    width: 100%;
}
.postmob-blue {
    color: #0083B3;
}
.postmob-lightblue {
    color: #4ebee8;
}
.font {
    font-family: 'Open Sans', sans-serif !important;
}
.size1 {
    font-size: 3vmin;
}
.size2 {
    font-size: 3vmin;
}
header {
    background-image: url('../IMAGES/background1.jpg') !important;
    height: 100vmin;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    #introduction {
        font-size: 3.5vw;
        padding-top: 83vmin;
        text-align: center;
        color: white !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        margin-left: 17%;
    }
#choices {
    background-color: white;
    margin-left: 0;
}
    #container1 {
        float: left;
        width: 25%;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 2%;
        margin-right: 2%;
        text-align: center;
    }
        #container2 {
            float: left;
            width: 25%;
            margin-top: 3%;
            text-align: center;
            margin-left: 5%;
        }
            #container3 {
                width: 25%;
                float: left;
                margin-left: 5%;
                margin-top: 3%;
                text-align: center;
            }
                @media ( max-width: 720px) {
                    #container1 {
                        width: 33% !important;
                        margin-left: 2%;
                    }
                    #container2 {
                        width: 26%;
                    }
                }
#handling {
    height: 100%;
}
    #handling h2 {
        font-size: 2.5vmax;
        text-align: center;
        margin-top: 3%;
    }
                #phone1 {
                    margin-left: 12%;
                    float: left;
                    margin-bottom: 5%;
                    margin-top: 3%;
                    display: block;
                    clear: left;
                }
                    #right-text2 {
                        margin-left: 10%;
                        font-size: 3.5vmin;
                        margin-top: 2%;
                    }
                        #right-text1 {
                            font-size: 2vw;
                            margin-top: 7%;
                        }



#protection {
    height: 100%;
}
    #stamp-logo {
        height: 12vmax;
        float: left;
        margin-left: 7%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
        #background-image {
            background-image: url('../IMAGES/background2.jpg');
            background-size: 100% 100%;
            height: 90vmin;
        }
            #protection p {
                padding-top: 5%;
                font-size: 4.5vmin;
                text-align: center;
                padding-left: 15%;
                padding-right: 15%;
                color: white;
            }
    #backgroundcheck h1 {
        padding-left: 5%;
        font-size: 5vmin;
    }
        #backgroundcheck p {
            padding-left: 5%;
            padding-right: 10%;
            margin-top: 1%;
            font-size: 3vmin;
        }
            #spyglass {
                margin-top: 1%;
                width: 30vmin;
                margin-left: auto;
                margin-right: auto;
                display: block;

            }
                #stars {
                    width: 20vmin;
                    margin-top: 2.1%;
                    margin-bottom: 2.3%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
                    #backgroundcheck ul {
                        padding-left: 10%;
                        font-size: 3vmin;
                    }
                        #way-rating h1 {
                            padding-left: 5%;
                            font-size: 5vmin;
                        }
                            #way-rating p {
                                padding-left: 5%;
                                padding-right: 10%;
                                margin-top: 1%;
                                font-size: 3vmin;
                            }
#twentyfourseven {
    background-image: url('../IMAGES/background3.jpg');
    background-size: 100% 100%;
    height: 100vmin;
}
    #twentyfourseven p {
        margin-bottom: 0;
        font-size: 3vmin;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }
        #twentyfourseven h1 {
            font-size: 4vmin;
            margin-bottom: 5%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 8% !important;
        }
        
.images {
    height: 20vmin;
    width: 20vmin;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.person {
    margin-top: 30px;
}

.person1 {
    margin-top: 14px;
    width: 25vmin;
}
.check-box {
    width: 25vmin;
}
    .person {
        margin-top: 10px;
    }

    .margin-top {
        margin-top: 10px;
    }
    .margin-top2 {
        margin-top: 15px;
    }

#background-color {
    background-color: rgba(0,0,0,0.5) !important;
    height: 40vmin;
    width: 65vmin;
    float: right;
    margin-top: 15%;
    margin-right: 2%;
}
